<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.HROBDConnectionString" connectionString="Data Source=25.12.40.132;Initial Catalog=HROBD;Persist Security Info=True;User ID=hroadmin;Password=database123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>