@{
    ViewBag.Title = "";
}

<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            @{
                if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    //el mensaje tiene un valor
                    <div class="alert alert-warning">@ViewBag.Message</div>
                }
            }
            <br />
            <form action="/Home/Login" method="POST">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <p class="login-form-font-header">Quirófanos<span>HRO</span><p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="usuario" class="enter" type="text" placeholder="Usuario" required />
                    </div>
                    <div class="col-md-12 login-from-row">
                        <input name="password" class="enter" type="password" placeholder="Contraseña" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 login-btn">
                        <button class="btn enterbtn btn-info">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  

    

   