.card {
    color: white;
    background-color: #4585AA;
}

.btn {
    background-color: #001578;
}

.card.quiro{
    background-color: white;
    color: black;
    width:200px;
}

.btn-outline-success{
    color:white;
}

.col-sm-2.move{
    left:100px;
}
