@model IEnumerable<BLL.ClassStatusOperatingRooms>
@{
    ViewBag.Title = "Estados";
}

@*Vista Cartas en vivo*@
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>
</head>
<div class="container" id="reloadContent" style="padding-top:15px">
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="mode" style="font-size: 30px; color:white;">
                <script type="text/javascript">
                    //<![CDATA[
                    var today = new Date();
                    var m = today.getMonth() + 1;
                    var mes = (m < 10) ? '0' + m : m;
                    var yy = today.getYear();
                    var year = (yy < 1000) ? yy + 1900 : yy;
                    document.write('Fecha: ' + today.getDate(), '/' + mes, '/' + year);
                    //]]>
                </script>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <h1 style="color:white;">Quirófanos</h1>
            </div>
        </div>
        <div class="col-sm-2">
            <script type="text/javascript">
                function startTime() {
                    today = new Date();
                    h = today.getHours();
                    m = today.getMinutes();
                    s = today.getSeconds();
                    m = checkTime(m);
                    s = checkTime(s);
                    document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
                    t = setTimeout('startTime()', 500);
                }
                function checkTime(i) { if (i < 10) { i = "0" + i; } return i; }
                window.onload = function () { startTime(); }
            </script>
            <div class="mode"id="reloj" style="font-size:30px; color:white;"></div>
        </div>

    </div>
    <script>

        //actualizar
        $(document).ready(function () {

            var refreshId = setInterval(function () {

                $.ajax({
                    url: "/Quirofanos/fetchQData",
                    method: "GET",
                    success: function (data) {

                        data = JSON.parse(data);
                        console.log(data);
                        $('#qr').empty();
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].estado_actual == 'Disponible') {
                                $('#qr').append('<div class="row mb-3" style="max-width: 500px;  margin-left:15px;"><div></div><div class="card quiro mb-3" style="max-width: 500px;"><div class="row no-gutters"><div class="col-md-4" style="width:150px;"><div class="text-center"><h3 class="card-title">Q' + data[i].Qx + '</h3></div><div class="iconcenter text-center"><i class="fas fa-procedures fa-5x" style="color: #78f712"></i></div></div><div class="col-md-8"><div class="card-body"><ul class="list-group list-group-flush"><li class="list-group-item"><h2 class="card-title" style="margin-top:40px">' + data[i].estado_actual + '</h2></li><li class="list-group-item"></li></ul></div></div></div></div></div>');
                            }
                            else if (data[i].estado_actual == 'Mantenimiento') {
                                $('#qr').append('<div class="row mb-3" style="max-width: 500px;  margin-left:15px;"><div></div><div class="card quiro mb-3" style="max-width: 500px;"><div class="row no-gutters"><div class="col-md-4" style="width:150px;"><div class="text-center"><h3 class="card-title">Q' + data[i].Qx + '</h3></div><div class="iconcenter text-center"><i class="fas fa-procedures fa-5x" style="color: blue"></i></div></div><div class="col-md-8"><div class="card-body"><ul class="list-group list-group-flush"><li class="list-group-item"><h3 class="card-title" style="margin-top:40px;">' + data[i].estado_actual + '</h3></li><li class="list-group-item"></li></ul></div></div></div></div></div>');
                            }
                            else if (data[i].estado_actual == 'Ocupado') {
                                if (data[i].Nombre == null && data[i].Procedimiento == null) {
                                    $('#qr').append('<div class="row mb-3" style="max-width: 500px; margin-left:15px;"><div></div><div class="card quiro mb-3" style="max-width: 500px;"><div class="row no-gutters"><div class="col-md-4" style="width:150px;"><div class="text-center"><h3 class="card-title">Q' + data[i].Qx + '</h3></div><div class="iconcenter text-center"><i class="fas fa-procedures fa-5x" style="color: red"></i></div></div><div class="col-md-8"><div class="card-body"><ul class="list-group list-group-flush"><li class="list-group-item"><h2 class="card-title" style="margin-top:40px">' + data[i].estado_actual + '</h2></li><li class="list-group-item"></li></ul></div></div></div></div></div >');
                                } else {
                                    $('#qr').append('< div class= "row mb-3" style="max-width: 500px;  margin-left:15px;"><div></div><div class="card quiro mb-3" style="max-width: 500px;"><div class="row no-gutters"><div class="col-md-4" style="width:150px;"><div class="text-center"><h3 class="card-title">Q' + data[i].Qx + '</h3></div><div class="iconcenter text-center"><i class="fas fa-procedures fa-5x" style="color: #78f712"></i></div><h5 class="card-title">' + data[i].estado_actual + '</h5></div><div class="col-md-8"><div class="card-body"><ul class="list-group list-group-flush"><li class="list-group-item">Paciente: ' + data[i].Nombre + '</li><li class="list-group-item">Procedimiento: ' + data[i].Procedimiento + '</li></ul></div></div></div></div></div >');
                                }

                            }
                        }
                    },
                    error: function (er) {
                        console.log(data);
                    }
                });
            }, 1000);
        });
    </script>


    <div class="row mb-3" style="width:1800px;">
        <div class="hijo row row-cols-1 row-cols-md-8 g-4 " id="qr">

        </div>
    </div>



</div>
