@model IEnumerable<BLL.ClassStatusOperatingRooms>
@{
    ViewBag.Title = "Estados";
}

@*Vista Cartas en vivo*@
<head>
    <script 
     src="https://code.jquery.com/jquery-3.6.0.js" 
     integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
     crossorigin="anonymous">
    </script>
</head>
<div class="container" id="reloadContent" style="padding-top:25px">

    <div class="row mb-3">
        <div class="col-sm-12"></div>
       
        
    </div>
   
    <v class="row mb-3">
        <div class="row row-cols-1 row-cols-md-8 g-4">

            @foreach (var item in Model)
            {
                string numbenQ = item.Qx;
                string nameQ = item.Nombre;
                string procQ = item.Procedimiento;
                string statusQ = item.estado_actual;
                string colorQ = "";
                switch (statusQ)
                {
                    case "Disponible":
                        colorQ = "#78f712";
                        break;

                    case "Mantenimiento":
                        colorQ = "blue";
                        break;

                    case "Ocupado":
                        colorQ = "red";
                        break;

                    default: break;
                }
                <div class="col-md-3">
                    <div class="card quiro border border-dark rounded">
                        <div class="text-center">
                            <h3 class="card-title">@item.Qx</h3>
                        </div>
                        <div class="text-center">
                            <i class="fas fa-procedures fa-5x" style="color:@colorQ"></i>
                        </div>
                        <div class="text-center">
                            <h5 class="card-title"> Estado:</h5>
                            <h5 class="card-title">@item.estado_actual </h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@item.Nombre</li>
                                <li class="list-group-item">@item.Procedimiento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>
