@model IEnumerable<BLL.ClassStatusOperatingRooms>
@{
    ViewBag.Title = "Estados";
}

@*Vista Cartas en vivo*@
<head>
    <script 
     src="https://code.jquery.com/jquery-3.6.0.js" 
     integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
     crossorigin="anonymous">
    </script>
</head>
<div class="container" id="reloadContent">
    <div class="row mb-3">
        <div class="col-sm-1">
        </div>
        <script>
            function reloadData() {
                $(document).ready(function () {
                    $('#reloadContent').load('/Quirofanos/Estado');
                })
            }

            $(document).ready(function () {
                var refreshId = setInterval(function () {
                    $('#reloadContent').load('/Quirofanos/Estado');
                }, 60000);
            });

        </script>

        @foreach (var item in Model)
        {
            string numbenQ = item.Qx;
            string nameQ = item.Nombre;
            string procQ = item.Procedimiento;
            string statusQ = item.estado_actual;
            string colorQ = "";
            switch (statusQ)
            {
                case "Disponible":
                    colorQ = "green";
                    break;

                case "Mantenimiento":
                    colorQ = "yellow";
                    break;

                case "Ocupado":
                    colorQ = "red";
                    break;

                default: break;
            }

            <div class="col-sm-2">
                <div class="card">
                    <div class="text-center">
                        <h3 class="card-title">@item.Qx</h3>
                    </div>
                    <div class="text-center">
                        <i class="fas fa-procedures fa-5x" style="color:@colorQ"></i>
                    </div>
                    <div class="text-center">
                        <h5 class="card-title">Estado:@item.estado_actual </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@item.Nombre</li>
                            <li class="list-group-item">@item.Procedimiento</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-1">
            <br><br />
        </div>
        <button type="button" class="btn btn-outline-success" onclick="reloadData()">Reload</button>
    </div>
</div>
