
@{
    ViewBag.Title = "No_Historia";
}


<div class="container" style="margin-top:35px">
    <section class="d-flex justify-content-center">
        <div class="card col-sm-6 p-3">
            <div class="mb-3">
                <h4>Solicitar Cirugia</h4>
            </div>
            <div class="mb-2">
                <form action="">
                    <div class="mb-2">
                        <i class='bx bx-book-open blackiconcolor'></i>
                        <label style="color:red">*</label>
                        <label for="Historial">No.Historia:</label>
                        <input type="text" class="form-control" name="noHistorial" readonly id="noHistorial" placeholder="Historial">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label style="color:red">*</label>
                        <label for="Primer_Nombre">Primer Nombre:</label>
                        <input type="text" class="form-control" name="pNombre"  readonly id="pNombre" placeholder="Primer nombre">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label for="Segundo_Nombre">Segundo Nombre:</label>
                        <input type="text" class="form-control" name="sNombre" readonly id="sNombre" placeholder="Segundo nombre">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label for="Tercer_Nombre">Tercer Nombre:</label>
                        <input type="text" class="form-control" name="tNombre"  readonly id="tNombre" placeholder="Tercer nombre">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label style="color:red">*</label>
                        <label for="Primer_Apellido">Primer Apellido:</label>
                        <input type="text" class="form-control" name="pApellido" readonly id="pApellido" placeholder="Primer apellido">
                    </div>
                    <div class="mb-2">
                        <i class='bx bx-user-circle blackiconcolor'></i>
                        <label for="Segundo_Apellido">Segundo Apellido:</label>
                        <input type="text" class="form-control" name="Apellido" readonly  id="sApellido" placeholder="Segundo apellido">
                    </div>
                    <div class="mb-2">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <label for="Edad">Edad:</label>
                        <input type="text" class="form-control" name="Edad" readonly id="Edad" placeholder="Edad">
                    </div>
                    <div class="mb-2">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <label for="Edad">Sexo:</label>
                        <input type="text" class="form-control" name="Edad" readonly id="Edad" placeholder="Edad">
                    </div>
                    <div class="mb-2">
                        <i class='bx bxs-face blackiconcolor'></i>
                        <label for="Edad">Diagnostico:</label>
                        <input type="text" class="form-control" name="Edad" id="Edad" placeholder="Diagnostico">
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Solicitar cirugia</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


