
    @{
        ViewBag.Title = "Programaciones";
        string[] tableHeader = new string[] { "Hora", "Qx", "No_Historia", "Nombre", "Edad", "Procedimiento", "Servicio", "Cirujano", "Anestesiólogo", "Enfermería" };
    }

    @*Vista cirugias programadas y emergencia*@


    <div class="container" id="">

        <div class="row mb-3">
            <div class="col-sm-11"></div>
            <div class="col-sm-1">
                <button type="button" class="btn btn btn-success" id="btnfilltable"><i class="fas fa-redo-alt"></i></button>
            </div>

        </div>

        <script>
            //function reloadData() {
            //    $(document).ready(function () {
            //        $('#reloadContent').load('/Quirofanos/Programaciones');
            //    })
            //}
            $(document).ready(function () {
                var refreshId = setInterval(function () {

                    $.ajax({
                        url: "/Quirofanos/fetchData",
                        method: "GET",
                        success: function (data) {

                            data = JSON.parse(data);
                            console.log(data);
                            $('tbody').empty();
                            for (var i = 0; i < data.length; i++) {
                                $('tbody').append('<tr><td>' + data[i].Hora + '</td><td>' + data[i].Qx + '</td><td>' + data[i].No_Historia + '</td><td>' + data[i].Nombre + '</td><td>' + data[i].Edad + '</td><td>' + data[i].Procedimiento + '</td><td>' + data[i].Servicio + '</td><td>' + data[i].Cirujano + '</td><td>' + data[i].Anestesiólogo + '</td><td>' + data[i].Enfermería + '</td></tr>');
                            }
                        },
                        error: function (er) {
                            console.log(data);
                        }
                    });
                }, 1000);
            });
            //$(document).ready(function () {
            //    $('#btnfilltable').on('click', function () {

            //    });
            //});
        </script>

        <div class="row mb-3" id="">
            <div class="col-1">

            </div>
            <div class="col-11" style="margin-top:35px">
                <div class="text-center">
                    <h1>Programaciones</h1>
                </div>

                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            @{
                                foreach (string columnHead in tableHeader)
                                {
                                <th scope="col">@columnHead</th>
                                }
                               }
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    
                </table>
            </div>
        </div>

    </div>
